.Video-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.Video-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  position: absolute;
  text-align: center;
  color: #d9d8d8;
  font-size: 9rem;
  font-weight: 400;
  z-index: 1;
}

@media (max-width: 1041px) {
  .content {
    font-size: 8rem;
  }
}

@media (max-width: 825px) {
  .content {
    font-size: 7rem;
  }
}

@media (max-width: 694px) {
  .content {
    font-size: 6rem;
  }
}

@media (max-width: 570px) {
  .content {
    font-size: 5rem;
  }
}

@media (max-width: 490px) {
  .content {
    font-size: 4rem;
  }
}
